<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<style>

@page{
  size: A4;
  margin-top: 50cm;
  margin-bottom: 50cm;
  display: block;
}

* {
    margin: 0;
    font-size: inherit;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont;
    font-size: 13px;
    line-height: 1.25;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.wrapper {
    display: flex;
}

.across {
    flex-basis: 30%;
    flex-shrink: 0;
    padding-right: 1rem;
}

.crossword {
    width: 100%;
    aspect-ratio: 1/1;
    border: 1px solid;
    display: grid; 
    grid-template-columns: repeat({{width}}, 1fr);
    margin-bottom: 1rem;
}

.black {
    background-color: black;
    outline: 1px solid;
}

.white {
    border: 1px solid;
    line-height: 1;
    font-size: calc(var(--column-width) / 3);
}

.down {
    columns: 3;
}

.clue {
    page-break-before: no;
}

h1 {
    font-size: 1.25rem;
    line-height: 1;
    margin-bottom: .25rem;
}

h2 {
    font-weight: normal;
    margin-bottom: .5rem;
}
</style>
<body>
<div class="wrapper">
    <div class="across">
        <h1>{{title}}</h1> 
        <h2>{{author}}</h2>
        <strong>Across</strong>
        {{#each across}}<div class="clue"><strong>{{@index}}</strong> {{this}}</div>{{/each}}
    </div>
    <div>
        <div class="crossword">
            {{#each board}}
                {{#if black}}
                    <div class="black"></div>
                {{else}}
                    <div class="white">{{number}}</div>
                {{/if}}
            {{/each}}

        </div>
        <div class="down">
            <strong>Down</strong>
            {{#each down}}<div class="clue"><strong>{{@index}}</strong> {{{this}}}</div>{{/each}}
        </div>
    </div>
</div>
<script> document.documentElement.style.setProperty('--column-width', document.querySelector('.white').offsetWidth +'px'); </script>

</body>
</html>
